## POSTGREST CONFIG
# Usage: Copy to .env and modify accordingly.

# Postgres admin role and password
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Postgres default database
POSTGRES_DB=postgres


## API CONFIG
# API schema in the default database
API_SCHEMA=api

# API admin role and password
API_USER=api
API_PASSWORD=password

# API read-only role that PostgREST uses to login
API_ANON_USER=web_anon
