## Postgres
# Usage: Copy to .env and modify accordingly.

# Postgres admin role and password
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# Postgres default database
POSTGRES_DB=postgres

## PGAdmin
PGADMIN_DEFAULT_EMAIL=admin
PGADMIN_DEFAULT_PASSWORD=password
WORKBENCH_PORT=8080

## API
API_SCHEMA=api  # API schema in the default database
API_USER=api
API_PASSWORD=password
API_PORT=80

# API read-only role that PostgREST uses to login
API_ANON_USER=web_anon

## Dashboard
DASHBOARD_DB_USER=grafana
DASHBOARD_DB_PASSWORD=password
DASHBOARD_DB_DATABASE=grafana
DASHBOARD_ADMIN_USER=admin
DASHBOARD_ADMIN_PASSWORD=password
DASHBOARD_PORT=3000

## Results config
RESULTS_USER=results
RESULTS_PASSWORD=password
RESULTS_SCHEMA=results
